<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bates_Reservation_Transaction.Properties.Settings.h18equipe4ConnectionString"
            connectionString="Data Source=mssql.local.shawinigan.info;Initial Catalog=h18equipe4;Persist Security Info=True;User ID=h18equipe4etd4;Password=104622192"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>