<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bates_Reservation_Chambres.Properties.Settings.h18equipe4ConnectionString"
            connectionString="&#xA;Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=H18equipe04;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bates_Reservation_Chambres.Properties.Settings.h18equipe4"
            connectionString="&#xA;Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=H18equipe04;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>